<section class="product-info">
    <div class="product-info__container">
      <ul class="product-info__menu-list">
        <li>
          <a href="">Головна</a>
        </li>
        <li>
          <a href="">Роли</a>
        </li>
        <li>
          <a href="">Рол1</a>
        </li>
      </ul>
  
  
      <div class="product-info__content">
        <div class="product-info__item">
  
          <div class="product-info__item-img">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/monosushi-39325.appspot.com/o/images%2Fphoto_2023-03-06_16-25-56.jpg?alt=media&token=50d03197-1cc1-4f39-8398-e2219f6a1425"
              alt="">
          </div>
  
  
          <div class="product-info__item-info">
            <h3 class="product-info__item-title">Рол1</h3>
            <p class="product-info__desc">
              <span>Склад:</span>Рол1
            </p>
            <p class="product-info__desc">
              <span>Вага:</span>Рол1
            </p>
  
            <div class="product-info__navigation">
              <p class="product-info__price">100 грн</p>
              <div class="counter__button-group">
                <button class="counter__btn">-</button>
                <input type="text" class="counter__product" readonly value="1">
                <button class="counter__btn">+</button>
              </div>
              <button class="order__btn">Замовити</button>
            </div>
          </div>
  
  
        </div>
  
  
  
  
      </div>
    </div>
  
  </section>
  
